<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign volunteer = data[1] %}
  {% for content in volunteer %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0" style="padding-left: 0;">
          <h6 class="title font-weight-bold ml-2">
            {{ content.organization }}
          </h6>
          <h6 class="ml-2" style="font-size: 0.95rem">{{ content.position }} · {{ content.date }}</h6>
          <h6 class="ml-2" style="font-size: 0.95rem;">
            {% if content.location and content.location != '' -%}
              <i>{{ content.location }}</i>
            {%- endif %}
            {% if content.location != '' and content.url != '' %} · {% endif %}
            {% if content.url and content.url != '' %}
              {% if content.url contains '://' %}
                <i><a href="{{ content.url }}">Read more</a></i>
              {% else %}
                <i><a href="{{ content.url | prepend: '/' | prepend: site.baseurl }}">Read more</a></i>
              {% endif %}
            {% endif %}
          </h6>
          <h6 class="ml-2" style="font-size: 0.95rem; font-style: italic">{{ content.summary }}</h6>
          <ul class="items">
            {% for item in content.highlights %}
              <li>
                <span class="item">{{ item }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
